# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data / results (important!)
data/*
results/*
figures/*

# Keep folder structure
!data/.gitkeep
!results/.gitkeep
!figures/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db